<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="img/RBC_Logo.png">

        <!-- App title -->
        <title>App</title>

        <!-- App CSS -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="assets/js/modernizr.min.js"></script>

    </head>


   
<style type="text/css">
    .page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 70px;
    padding-left: 400px
}



</style>

    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo"><img  alt="" src="img/RBC_Logo.png" scale="0" style="height: 36px;"></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title">Competitive Analysis</h4>
                            </li>
                        </ul>

                        <!-- Right(Notification and Searchbox -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                               
                            </li>
                            <li class="hidden-xs">
                                <form role="search" class="app-search">
                                    <input type="text" placeholder="Search..."
                                           class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </li>
                        </ul>

                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                    
                                    <h4 class="header-title m-t-0 m-b-30">Line Chart</h4>

                                    <canvas id="lineChart" height="300"></canvas>

                                </div>
                            </div><!-- end col-->

                            <div class="col-lg-6">
                                <div class="card-box">
                                    

                                    <h4 class="header-title m-t-0 m-b-30">Bar Chart</h4>

                                    <canvas id="bar" height="300"></canvas>
                                </div>
                            </div><!-- end col-->

                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                   

                                    <h4 class="header-title m-t-0 m-b-30">Pie Chart</h4>

                                    <div id="myDiv" style="width: 400px; height: 601px;">
                                </div>
                            </div><!-- end col-->
                           

                        </div>
                        <!-- end row -->
                        <script type="text/javascript">
                            
var trace1 = {
  x: [1, 2, 3, 4,],
  y: [0, 2, 3, 5],
  fill: 'tozeroy',
  type: 'scatter'
};
var trace2 = {
  x: [1, 2, 3, 4],
  y: [3, 5, 1, 7],
  fill: 'tonexty',
  type: 'scatter'
};
var data = [trace1, trace2];

Plotly.newPlot('myDiv', data);

                        </script>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                   

                                    <h4 class="header-title m-t-0 m-b-30">Polar area Chart</h4>

                                    <canvas id="polarArea" height="300"> </canvas>

                                </div>
                            </div><!-- end col-->

                            <div class="col-lg-6">
                                <div class="card-box">
                                   
                                    <h4 class="header-title m-t-0 m-b-30"> Radar Chart</h4>

                                    <canvas id="radar" height="300"></canvas>

                                </div>
                            </div><!-- end col-->
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->


            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            

        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

		<!-- Chart JS -->
        <script src="assets/plugins/chart.js/chart.min.js"></script>
        <script src="assets/pages/jquery.chartjs.init.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

    </body>
</html>